.Node__Container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    height: 34px;
    color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0 5px;
    margin: 2px 0;
    box-shadow: 0 5px 9px 0px rgba(0, 0, 0, 0.1);
}

.Node__Container.focus {
    color: black;
}

.Node__Container.selected {
    color: #3ab54a;
}

.Node__Container.disabled > .Node__Title {
    color: #adadad;
}

.Node__Title {
    display: flex;
    width: 100%;
    padding-right: 5px;
    justify-content: space-between;
    cursor: pointer;
    font-size: 12pt;
}

.Node__Title > :first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 130px;
    padding-right: 5px;
}

.Node__ModalButtonContainer {
    font-size: 20px;
    display: flex;
    padding: 4px;
    cursor: pointer;
}