.EmptyNode__SVGContainer {
    width: 100%;
    height: 40px;
    padding-left: 10%;
}

.EmptyNode__Container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 40px;
}

.SVG_Line {
    stroke: rgb(185, 185, 185);
    stroke-width: 1px
}
